@charset"utf-8";
body {
	color: #333;
	font: 13px/1.7 'Helvetica', Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	color: #000;
	font-family: 'Helvetica', Arial, Helvetica, sans-serif;
	line-height: 1.25;
	margin-bottom: 15px;
}